body {
  background-color: #ffff;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
/* Header Start */
#header-nav {
  border-radius: 0;
  border: 0;
  background-color: #09609f; /* #7e7d7d */
}
.navbar-brand p {
  color: rgb(226, 219, 219);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  padding-top: 15px;
}
.nav-chng span:nth-child(1) {
  float: left;
}

#nav-list a {
  color: rgb(226, 219, 219);
}

#nav-list a:hover {
  font-weight: bolder;
}
.special_tags {
  padding-right: 10px;
}
/* Header End */

/* Footer Start */
.panel-footer {
  margin-top: 30px;
  padding: 35px 0px;
  background-color: black;
  opacity: 0.85;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.panel-footer section {
  color: rgb(226, 219, 219);
}
#hours,
#address {
  line-height: 2;
}
#address p {
  line-height: 1.8;
  color: yellowgreen;
  font-style: italic;
  font-size: 0.9em;
}
.panel-footer span {
  font-size: 20px;
}
#testimonials {
  font-style: italic;
}
#testimonials :nth-child(2) {
  margin-top: 20px;
}
/*Home Page */

.container .main-img {
  /* border: 2px solid #3f0c1f; */
  box-shadow: 0 0 50px #09609f;
}
.container .section h1 {
  color: blueviolet;
  font-family: "Ephesis", cursive;
  font-size: 6vw;
  font-weight: bold;
}
.container .row button {
  background-color: black;
  color: rgb(226, 219, 219);
  width: 100%;
}
.container button p {
  padding-top: 10px;
}
.container .product > p {
  /* Rs. Div */
  margin-top: 10px;
  color: black;
  font-weight: bold;
}
.container .product {
  padding-top: 20px;
  background-color: rgb(226, 219, 219);
}
.container .responsive {
  width: 100%;
  height: auto;
}
.container img:hover {
  box-shadow: 0 2px 5px 2px #464343;
  border: 2px solid #464343;
}
.container .ajax-loader {
  width: 50px;
  height: 50px;
  margin: auto;
}
.container .clear {
  clear: both;
}
/*end Home Page */

/* Details.html page
   Detail section */

.container #details {
  color: black;
  box-shadow: 2px 2px 2px 2px #09609f;
}
.container #welcome {
  color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 4vw;
}
.container #Back_home {
  text-decoration: none;
}
.container #details h1 {
  color: #09609f;
}
.container #details #avail {
  color: rgb(9, 170, 9);
}
.container #details hr {
  background: black;
  width: 100%;
  height: 1px;
}
.container h3 {
  color: #557c3e;
  font-size: 1.2em;
}
.container #part-1,
.container #part-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #464343;
  color: rgb(226, 219, 219);
  width: 45%;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  margin-left: 25px;
}

.container .inclusions {
  line-height: 1.6;
}
.container .inclusions > span {
  float: right;
}
/*.container #quantity-tag {
  margin-top: 30px;
}*/
.container #disclaimer {
  margin-top: 20px;
}
.container #quantity-tag > a {
  text-decoration: none;
  font-size: 17px;
  position: relative;
  top: 2px;
  color: #767676;
  border: 1px #767676 solid;
  padding: 2px 10px;
}
.container #quantity-tag input {
  width: 100px;
  color: #767676;
}
.container #quantity-tag #main-cart-bttn {
  margin-top: 20px;
  margin-bottom: 20px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  /*Home Page */
  .container .main-img {
    background: url("../Images/Back-img-Lar.jpg") no-repeat;
    height: 675px;
  }
  .container img {
    width: 100%;
  }
  /*end Home Page */
  #nav-list .nav-chng a {
    padding-top: 33px;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container .main-img {
    background: url("../Images/Back-img-Md.jpg") no-repeat;
    height: 558px;
  }
  .container #part-1,
  .container #part-2 {
    width: 100%;
  }
  #nav-list .nav-chng a {
    padding-top: 33px;
  }
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .main-img {
    background: url("../Images/Back-img-sm.jpg") no-repeat;
    height: 432px;
  }
  #nav-list .nav-chng a {
    padding-top: 33px;
  }
  /* End Home Page */
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand p {
    padding-top: 5px;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    box-shadow: 0 2px 2px 2px #09609f;
    /*border: 2px solid #09609f;*/
    background-color: rgb(226, 219, 219); /* #d5b717*/
    color: #09609f;
  }

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* Home Page */
  .container .main-img {
    margin-top: 30px;
    padding: 0;
  }
  /*details.html page */
  .container #part-1,
  .container #part-2 {
    width: 100%;
  }
  .container #Back_home {
    position: relative;
    top: 10px;
  }
}
